# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Database binary files
*.db
*.sqlite3
*.sqlite

# Logs
logs
*.log

# Dependency directories
node_modules/
dist/
.next/
out/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
